*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color:#000000;
  color:black;
  font-size: 30px;
  text-shadow: 2px 2px white;
  text-decoration: underline;

}

#container{
  display:grid;
  border-width: 1px;
  grid-template-columns: 4fr 2fr 2fr 4fr;
  grid-template-rows: calc(14.5vh - 10px) calc(31.6vh - 10px) calc(31.7vh - 10px) calc(19.3vh - 10px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

#container .celda1{
  padding: 1px;
  margin: 2%;
  background-color:#000000;
  border-radius:5px;
  grid-column:1/5 ;
  grid-row:1/1 ;
  text-align: center;
  color: #B22222;
}


#container .celda2{
  border-width: 20px;
  border-style: ridge;
  border-color: white;
  padding: 9px;
  background-color:#000000;
  border-radius: 5px;
  grid-column:2/3 ;
  grid-row: 2/3;
}

#container .celda2 img{
  height: 100%;
  width: 100%;
}

#container .celda3{
  border-width: 20px;
  border-style: ridge;
  border-color: white;
  padding: 9px;
  background-color:#000000;
  border-radius: 5px;
  grid-column:3/4 ;
  grid-row:2/3 ;
}

#container .celda3 img{
  height: 100%;
  width: 100%;
}

#container .celda4{
  border-width: 20px;
  border-style: groove;
  border-color: white;
  padding: 9px;
  background-color:#000000;
  border-radius: 5px;
  grid-column:3/2 ;
  grid-row:4/3 ;
}

#container .celda4 img{
  height: 100%;
  width: 100%;
}

#container .celda5{
  border-width: 20px;
  border-style: groove;
  border-color: white;
  padding: 9px;
  background-color:#000000;
  border-radius: 5px;
  grid-column:3/4 ;
  grid-row: 3/3;
}

#container .celda5 img{
  height: 100%;
  width: 100%;
}

#container .celda6{
  padding: 9px;
  margin: 3%;
  background-color:#000000;
  border-radius: 5px;
  grid-column:1/5 ;
  grid-row:4/5;
  text-align: center;
  color: #B22222;
}
